body {

	background-image:url("L.jpg");
	background-size: 100%;

    }
header {
    height:200px;
    
    width:980px;
   }
   img{
	height: 150px;
	width: 150px;
}
   .book {
  width: 1180px;
  padding: 20px;
  text-align: left;
  font: 40px ;
  color: white;
  border-style: solid;
  border-width: 20px;
  border-color: lemonchiffon;
  animation:myAnimation 2s linear 1s 1 forwards;
}
@keyframes myAnimation {
  100% {
    border-color: yellowgreen orange olive gold;
  }	

}


h1{
  font-stretch: 50%
border-color: lemonchiffon
	font-style: italic;
}
h2{
font-size-adjust: 35px
border-color: lemonchiffon
	font-style: oblique
}